<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="swan code">
<listeners>
<listener class-name="ExtendReportlistener.ExtentReporterNG"></listener>
</listeners>
  <test thread-count="5" name="swantestcode">   
    <classes>
      <class name="jenkinscode.CustomerProfile"/> 
        <class name="jenkinscode.Searchcustomerprofile"/>    
       <class name="jenkinscode.EditUpdateMergeCustomerProfile"/>
        <class name="jenkinscode.settinginvite"/>   
       <class name="jenkinscode.settingIniviteadmi"/>
        <class name="jenkinscode.editpremissionsettinginvite"/> 
         <class name="jenkinscode.Createcampaign"/>   
       <class name="jenkinscode.Editcampagin"/>
        <class name="jenkinscode.Deletecampaign"/> 
         <class name="jenkinscode.cloningcampaign"/> 
         <class name="jenkinscode.createloyaltstorebonus"></class>
         <class name="jenkinscode.CreateRewardTransactionvalueusingcampign"></class>
         <class name="jenkinscode.createrewardweekdayusingcampign"></class>
          <class name="jenkinscode.loyaltyrewardtranscationsbonusmultiple"></class>
           <class name="jenkinscode.loyaltyrewardcampignstore"></class>
            <class name="jenkinscode.Loyatlyrewardweekdaybonus"></class>
            <class name="jenkinscode.settingcustomfiled"></class>
            <class name="jenkinscode.settingmaketingfloder"></class>
            <class name="jenkinscode.settingstore"></class> 
    </classes>
  </test> 
  
</suite> 
